<div class="loader_bg">
    <div class="loader"></div>
</div>
<div class="loader_bg">
    <div class="loader"></div>
</div>
{% extends 'xray/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block body %}
<h2 class="about">About Us</h2>
<hr class="abouthr">
<div class="container10">
    <div class="container11">
        <div class="container12">
            <img class="img-fluid" src="{% static 'xray/image/aman.jpg' %}" alt="">
        </div>
        <div class="container13">
            Introduction
            <hr>
            <p class="abp">Coronavirus 2019 (COVID-19) has had a global impact on human death rates and the modern world's economic history. COVID-19 has posed a serious threat to the health of vulnerable individuals, particularly the elderly, according to the World Health Organization. There are still some questions about the virus's origins and intermediate hosts. However, as a result of the disease's spread, most governments have implemented severe curfews and closed most industrial and recreational facilities. </p>
            <p class="abp">The COVID-19 pandemic is producing a huge epidemic in over 150 nations throughout the world. One of the most important aspects of combating COVID-19 is the capacity to identify infected individuals early and place them under particular care. One of the quickest ways to diagnose patients is to use radiography and radiology pictures to detect the condition.Early research revealed distinct abnormalities in the chest radiographs of COVID-19-infected individuals. We investigate the use of deep learning models to detect COVID-19 patients from their chest radiography pictures, based on previous research.
                 <p>
                
        </div>
    </div>
    <div class="container14">
        <div class="container15">
            <img class="img-fluid" src="{% static 'xray/image/aman1.jpg' %}" alt="">
        </div>
        <div class="container16">
            Motivation
            <hr>
            <p class="abp">Covid-19 has been a devastating pandemic for the globe, with over 244,872,232 individuals infected and over 4,971,242 people dying as a result of the virus. So, in order to discover an infected individual early on and prevent the virus from spreading further, we devised a method to detect the covid-19 virus using chest x-rays.
                COVID-19 (coronavirus disease) is a pandemic caused by a new coronavirus. COVID-19 is quickly spreading over the world. The reverse transcription-polymerase chain reaction (RT-PCR) test is the gold standard for diagnosing COVID-19. However, the availability of RT-PCR tests is restricted, making early illness detection challenging. X-ray and other readily available modalities can be utilized to detect particular COVID-19 symptoms.
                </p>

        </div>
    </div>
    <div class="container11">
        <div class="container12">
            <img class="img-fluid" src="{% static 'xray/image/aman2.jpg' %}" alt="">
        </div>
        <div class="container13">
            Objective
            <hr>
            <p class="abp">The purpose of this study is to use deep learning techniques like a convolutional neural network-based Sequential Model to provide the best possible results in the least amount of time while simultaneously striving to save lives. </p>
            <p class="abp">A CNN is a type of artificial neural network that is used in image identification and processing and is specifically designed to examine pixel input. </p>
        </div>
    </div>


</div>
    <div class="container14">
        <div class="container15">
            <img class="img-fluid" src="{% static 'xray/image/aman3.jpg' %}" alt="">
        </div>
        <div class="container16">
            Scope
            <hr>
            <p class="abp">Everyday life, public health, and the global economy are all in ruins. Pathogenic laboratory assays, such as polymerase chain reaction (PCR), are time-consuming and frequently provide false-negative results. We proposed a machine learning approach for classifying and identifying COVID-19 from chest X-rays in this study.</p>
            <p class="abp">It has the potential to reduce frontline radiologists' stress, improve early detection, isolation, and treatment, and so aid in the control of the pandemic.</p>

        </div>
    </div>
   
  

    {% endblock body %}


