{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password done</title>
    <link rel="stylesheet" href="{% static 'xray/css/forgot.css' %}">
</head>
<body class="forgot10">
    <div class="container forgot3">
    <h1 style="color: yellow;">Password reset complete</h1>
    
    <p style="color: white;font-size: 2em;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Your password has been set. You may go ahead and log in now.</p>
    
    <a style="color: red;font-size: 2em;" href="{% url 'login' %}">Log in</a>
</div>
</body>
</html>
