{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>password reset</title>
	<link rel="stylesheet" href="{% static 'xray/css/forgot.css' %}">
</head>
<body class="forgot6">
	<div class="container forgot3">
	<h1 class="forgot">Password Reset</h1>
	
	<p class="forgot1">Forgotten your password? Enter your email address below, and we’ll send email instructions for setting a new one.</p>
	
	<form class="forgot2" method="post">
	
		{% csrf_token %}
		<div class="forgot4">
			<div class="container">
				<!-- {{form.}} -->
				{{form.email}}
			</div>
			<div class="container">
			<button class="forgot5" type="Submit" name="Send email">submit</button>

			</div>
	</div>
	</form>
</div>
<script>
	/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
//We start indexing at one because CSRF_token is considered and input field 
*/

//Query All input fields
var form_fields = document.getElementsByTagName('input')
form_fields[1].placeholder='Enter Email';

for (var field in form_fields){	
form_fields[field].className += ' form-control'
}
</script>
</body>
</html>