{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password reset sent</title>
    <link rel="stylesheet" href="{% static 'xray/css/forgot.css' %}">
</head>
<body class="forgot7">
    <div class="container forgot8 forgot3">
        <div class="container">
    <h1 style="text-align: center;color: white;">Password reset sent</h1>
</div>
<div class="container">
    <p style="text-align: center;color: white;" >We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
</div>
<div class="container">

    <p style="text-align: center;color: white;">If you don’t receive an email, please make sure you’ve entered the same email you registered with, and check your spam folder.</p>
</div>
    
    
</div>
</body>
</html>
